<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pets.hall.mapper.UserMapper">
  <select id="findByUsername" resultType="com.pets.hall.model.HallUser">
    SELECT id, username, password_hash
    FROM hall_user
    WHERE username = #{username}
  </select>

  <insert id="insert" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO hall_user (username, password_hash)
    VALUES (#{username}, #{passwordHash})
  </insert>
</mapper>
